---
import { getImage } from 'astro:assets';
import EngineerHero from '@components/designs/engineer/EngineerHero.tsx';
import CreativeHero from '@components/designs/creative/CreativeHero.tsx';
import AvantgardeHero from '@components/designs/avantgarde/AvantgardeHero.tsx';
import EditorialHero from '@components/designs/editorial/EditorialHero.tsx';
import avatarImg from '@/assets/images/avatar.jpeg';

const avatar1x = await getImage({ src: avatarImg, width: 224, height: 224 });
const avatar2x = await getImage({ src: avatarImg, width: 448, height: 448 });
const avatarSrcSet = `${avatar1x.src} 1x, ${avatar2x.src} 2x`;
---

<section id="hero">
  <div data-design-show="engineer">
    <EngineerHero client:load />
  </div>
  <div data-design-show="creative">
    <CreativeHero avatarSrc={avatar1x.src} avatarSrcSet={avatarSrcSet} client:load />
  </div>
  <div data-design-show="avantgarde">
    <AvantgardeHero client:visible />
  </div>
  <div data-design-show="editorial">
    <EditorialHero client:load />
  </div>
</section>
