---
import EngineerHero from '@components/designs/engineer/EngineerHero.tsx';
import CreativeHero from '@components/designs/creative/CreativeHero.tsx';
import AvantgardeHero from '@components/designs/avantgarde/AvantgardeHero.tsx';
import EditorialHero from '@components/designs/editorial/EditorialHero.tsx';
---

<section id="hero">
  <div data-design-show="engineer">
    <EngineerHero client:load />
  </div>
  <div data-design-show="creative">
    <CreativeHero client:load />
  </div>
  <div data-design-show="avantgarde">
    <AvantgardeHero client:load />
  </div>
  <div data-design-show="editorial">
    <EditorialHero client:load />
  </div>
</section>
